@import (less) "../../styles/gridsquare.less";

.short {
    font-size: small;
    text-align: right;
  }
  
  .short-hd {
    font-size: medium;
    text-align: right;
    font-weight: bold;
  }
  
  .short-holder {
    margin-right: 18px;
  }
  